{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome to the "Church Build" Administration Portal! 
   If you have registered as an Administrator for a church that has been registered as a member church, 
   then the designated manager of the church account will be contacted to authorize you as one of the administrators. 
   Authorized administrators can access the church dashboards and member informations. Upon approval, you will be directed to the official dashboard. 
   If after log-in, you have been directed to this page, then your authorization is still pending. 
   If you have any questions, please reach out to your <a href = "mailto: churchbuild2020@gmail.com">church account manager</a> or <a href = "mailto: Lin@AnalyticsConsult.com">Analytics Consult</a>. 
   Thank you for using the ChurchBuild system!
</p>
{% endblock %}